@model BPMS01WebUI.Models.AddStaffViewModel

@{
    ViewBag.Title = "AddStaff";
}

<h2>AddStaff</h2>

@using (Html.BeginForm("AddStaff", "Staff", FormMethod.Post))
{
    @Html.EditorForModel()
    <br/>
    @Html.EnumDropDownListFor(x => x.gender, new BPMS01WebUI.Models.gender())
    <br />
    
    <input type="submit" value="添加" />
}
<br />@ViewBag.message