@model IEnumerable < BPMS01Domain.Entities.inspection_project>

<table id="inspection_project_table" class="table">

    <tr>
        <th data-field="state" data-radio="true"></th>

        <th>
            项目名称
        </th>

        <th>
            检测类型
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>@Html.RadioButtonFor(modelItem => item.id, false)</td>
            <td style="display: none">
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.inspection_type)
            </td>
        </tr>
    }

</table>

